In [36]:
import pandas as pd

In [37]:
data = pd.read_csv ('/content/titles.csv')
data

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

In [99]:
df[['title','description']].head()

,title,description
0,Five Came Back: The Reference Films,This collection includes 12 World War II-era p...
1,Taxi Driver,A mentally unstable Vietnam War veteran works ...
2,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui..."
3,Life of Brian,"Brian Cohen is an average young Jewish man, bu..."
4,The Exorcist,12-year-old Regan MacNeil begins to adapt an e...

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [101]:
netflix_data = df.copy()

In [102]:
tfidf = TfidfVectorizer(stop_words='english')
netflix_data['description'] = netflix_data['description'].fillna('')
tfidf_matrix = tfidf.fit_transform(netflix_data['description'])

In [103]:
from sklearn.metrics.pairwise import linear_kernel

In [104]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices = pd.Series(netflix_data.index, index=netflix_data['title']).drop_duplicates()

In [105]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return netflix_data[['title','description']].iloc[movie_indices]

In [106]:
get_recommendations('Ganglands')

,title,description
715,Top Boy,A thrilling and raw crime drama following a ga...
3241,Black Summer,"In the dark, early days of a zombie apocalypse..."
3497,How to Sell Drugs Online (Fast),How do you win back your girlfriend from the s...
2826,Time Share,"While staying at a tropical resort, a man beco..."
3220,Top Boy,Two seasoned drug dealers return to the gritty...
1617,The Princess Weiyoung,A princess descended from a ruined noble famil...
5242,Move to Heaven,"Finding life in all that's left behind, a trau..."
5679,The Misadventures of Hedi and Cokeman,"In Paris, two dysfunctional dealers use family..."
5093,Gone for Good,"Ten years ago, he lost two loved ones. When hi..."
2223,Dope,"Filmed from the perspectives of dealers, users..."